.product-detail {
  display: flex;
  //   padding-left: 10px;
  width: 100%;
  margin: auto;
  //   border: 1px solid white;
  background-color: white;
}

.product-description {
  text-align: justify;
}
.add-cart {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-cart-button {
  color: white;
  background-color: rgb(8, 172, 172);
  padding: 5px;
}
